*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}


h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 170px;
    color: white;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor{
    height: 50px;
    width: 50px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all linear 0.1s;
}
